br {
    margin-top: 7px;
    display: block;
    content: " ";
}

.highlight {
    background: #eeeeee !important;
    border-width: thin;
    border: black !important;
    border-style: dotted  !important;
}

.code-block {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 3;
}

.trace-block {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
    line-height: 2;
}

.shifted-tree-node {
    position: absolute;
    color: initial;
    border-width: thin;
    border-style: solid;
}

.ast-node {
    position: relative
}

.placeholder {
    position: relative;
    color: rgba(0, 0, 0, 0.1);
}

.superscript {
    position: absolute;
    top: -20px;
    color: rgba(100, 0, 0, 0.8);
    visibility: hidden;
}

.shifted-tree-node:hover > .superscript{
    visibility: visible;
}

.delete-text {
    background-color: rgb(255, 233, 233);
    text-decoration: line-through;
}
.delete-text>* {
    text-decoration: none;
}

.full-view .delete-node>.text-span {
    background-color: rgb(255, 233, 233);
    /*text-decoration: line-through;*/
}

.full-view .code-block .move-node {
    background-color: rgb(224, 237, 255);
    text-decoration: none;
    border-width: thin;
    border-style: solid;
    border-radius: 11px;
    padding: 3px;
}

.rename-node {
    position:relative;
}

.before-fix-code .rename-node>.text-span {
    background-color: rgb(255, 233, 233);
    text-decoration: line-through;
}

.rename-node>.replacement {
    position: absolute;
    top: -20px;
}

.ast-node>.value {
    position: absolute;
    top: -20px;
    color: rgba(150, 100, 100, 1);
    background-color: rgba(240, 240, 240, 1);
    line-height: 16px;
    border-width: thin;
    border: black !important;
    border-style: dotted !important;
}

.ast-node>.value:empty {
    border: none !important;
}


.ast-node>.op-description {
    position: absolute;
    left: 300px;
    color: rgb(100, 100, 150);
    background-color: #00fff324;
    line-height: 1;
    border-width: thin;
    border-style: dotted !important;
    overflow: visible;
    top: -2px;
    width: max-content;
    max-width: 500px;
    white-space: pre-wrap;
}

.op-description>.connector {
    position: absolute;
    top: -9;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so it doesn't interfere with clicks */
    /*z-index: -1; /* puts the line behind the content */
    overflow: visible;
}

.insert-multiline-span {
    background-color: rgba(0, 255, 0, 0.1);
    position:relative;
    left: 10px;
    top: -5px;
    box-shadow: -10px 5px rgb(0 0 0);
}

.insert-span {
    background-color: rgba(0, 255, 0, 0.1);
    position:absolute;
    top: -14px;
    left: -10px;
    border-width: thin;
    border-style: solid;
    border-radius: 11px;
    line-height: 1;
}

.inserted-node-inline {
    position: absolute;
    top: -20px;
    left: -5px;
    border-width: thin;
    border-style: solid;
    border-radius: 11px;
    line-height: 1;
    background-color: rgba(0, 255, 0, 0.1);
}

.insertion-inline-indicator {
    position: relative;
    top: 5px;
}

.insertion-multiline-indicator {
    position: absolute;
}

.evaluated-node {
    border-top: 1px solid rgba(25, 25, 25, 1);
    background-color: #00fff324;
}

.after-fix-code{
    position: absolute;
    opacity: 0;
}


input[name="test[]"] {
    display: block;
    width:500px;
}

/* 
.trace-slider
{
    height: 175px;
    display: inline-block;
} */
 
.trace-slider
{
    width: 50%;
}

.ticks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tick {
    position: relative;
    display: flex;
    justify-content: center;
    width: 3px;
}

.op-line {
    stroke:rgba(25,25,25, 0.5);
    stroke-width:1
}

.no-op-line {
    stroke:rgba(25,25,25,0);
    stroke-width:1
}


.bad-value-op-line {
    stroke:rgba(25,25,25, 0.5);
    stroke-width:1
}

.full-view .bad-value-op-line {
    stroke:rgba(255,0,0,1);
    stroke-width:1
}

/*TODO - why value-mismatch-op-line not also op-line?*/
.value-mismatch-op-line {
    stroke:rgba(25,25,25, 0.5);
    stroke-width:1
}

.full-view .value-mismatch-op-line {
    stroke:rgba(255,0,0,1);
    stroke-width:3
}

[data-current-step="action"] .selected-tick .before-tick-line {
    stroke:rgba(0,200,0,1);
    stroke-width: 6;
    overflow: visible;
}

.ui-slider-handle {
    border-radius: 1em;
}

/* 
.comparison-div {
    justify-content: space-evenly;
    display: flex;
} */

/* .side-by-side {
    display: inline-block;
    vertical-align: top;
} */

.half-width {
    width: 48%;
    overflow: scroll;
}

.side-by-side.after .insert-node>.text-span {
    background-color: rgba(0, 255, 0, 0.1);
}

.full-view .side-by-side .rename-node>.text-span {
    background-color: rgba(255, 0, 0, 0.1);
}

#after_block {
    display: none;
}

.full-view #after_block {
    display: block;
}

.after-tick-line {
    visibility: hidden
}



.full-view .after-tick-line {
    visibility: unset
}

.explanation {
    background-color: #fbefec;
    border-radius: 25px;
    border: bisque 1px solid;
    margin: 5px;
    padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.trace-div{
    /*logic for sharing space with footer/explanations*/
    flex: 1 0 auto; /*1 grow, 0 shrink (cah't shrink), auto flex(?)*/
    overflow-y: auto;
    min-height: 0; /* Important: allows flex item to shrink and scroll */

    /*logic for spacing within trace div
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    */
}

#conversation_div {
    /* Grows with content, but has a safety limit */
    flex: 1 1 auto; /* can grow or shrink from natural size */
    max-height: 40%; /* Max % of parent (body = 100vh) */
    overflow-y: auto; /* Scroll when content exceeds max-height */
}

.problem-statement{
    display: flex;
}
.problem-statement.animate-fade-in {
    animation: 1.5s linear fadein; 
}

.problem-statement>div {
    border: 1px gray dotted;
    padding: 4px;
}

.unit-test {
    display: grid;
    grid-template-columns: auto auto;
    animation: 1.5s linear 1.5s fadein; 
    animation-fill-mode: backwards;
}

.unit-test>div {
    border: 1px dotted gray;
    padding: 4px;
}

@keyframes fadein {
    0% {
        opacity: 0%;
        transform: translateY(-100);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.comparison-div {
    background-color: white;
    margin-bottom: 10px;
    border: 1px dotted gray;
}



.comparison-div:not(.full-view) .no-before {
    display: none;
}

#play-trace-button {
    font-size: x-large;
    padding: 0;
}


#conversation_div>.explanation:not(.current-step){
    display:none
}
    
.loading-placeholder {
    background-color: #d0d0d0;
    color: gray;
    border-radius: 4px;
    margin: 10px 0;
    animation: pulse 1.5s infinite ease-in-out;
  }

.loading-placeholder:after {
  content: "The AI is thinking...";
}

.loading-line {
    height: 20px;
    width: 90%;
}


@keyframes pulse {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.6;
    }
}

  
.problem-statement.active-check span:hover {
    background-color: #cccbcb;
    border: black dotted;
}

.student-output-text.active-check>span:hover{
    background-color: #cccbcb;
    border: black dotted;
}

[data-current-step="observation"] .comparison-div{
    display: none;
}

/*fade in when current step switches to direction*/
[data-current-step="direction"] .comparison-div{
    animation: 1.5s linear fadein; 
}

.understanding_check:not(.active) {
    opacity: 0%;
}

.understanding_check.active{
    animation: 1.5s linear 1.5s fadein; 
    animation-fill-mode: backwards;
}

/*make the arrow span inline with the markdown text/question*/
.understanding_check p {
    display: inline
}

@keyframes borderPulse {
    0% { border: 2px solid rgba(255, 127, 80, 0); }
    /*50% { border: 2px solid rgba(255, 127, 80, 1); }*/
    100% { border: 2px solid rgba(255, 127, 80, 1); }
}

.active-check {
    animation: borderPulse 1s ease-in-out forwards;
}


#improve_explanation {
    background-color: cornsilk;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    border: #dddd04 1px solid;
    margin: 5px;
}

#sufficient_explanation {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    border: green 1px solid;
    margin: 5px;
}


.hidden {
    display: none!important;
}

.explanation .student{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}

.tutorial_modal.ui-widget.ui-widget-content {
    border: 3px solid #00f;
    border-radius: 4px;
    background-color: aliceblue;
}

.tutorial_modal .ui-widget-content {
    border: none;
    background-color: aliceblue;
}

.tutorial_modal .ui-dialog-titlebar-close {
    display: none;
}

.tutorial_highlight {
    border: 3px dotted #00f!important;
    background-color: aliceblue;
    transition: border 0.2s ease-in-out;
}