<!DOCTYPE html>
<head>
</head>
<body>
    <ul>
        <li><a href="anyLowercase" target="_">anyLowercase</a></li>
        <li><a href="anyLowercase1" target="_">anyLowercase1</a></li>
        <li><a href="calculate_in_middle" target="_">calculate_in_middle</a></li>
        <li><a href="canDrinkAlcohol" target="_">canDrinkAlcohol</a></li>
        <li><a href="castString" target="_">castString</a></li>
        <li><a href="create_short_bios" target="_">create_short_bios</a></li>
        <li><a href="factorial" target="_">factorial</a></li>
        <li><a href="findRoot" target="_">findRoot</a></li>
        <li><a href="firstAndLast" target="_">firstAndLast</a></li>
        <li><a href="get_index_min" target="_">get_index_min</a></li>
        <li><a href="isEvenPositiveInt" target="_">isEvenPositiveInt</a></li>
        <li><a href="isPunctuation" target="_">isPunctuation</a></li>
        <li><a href="kthDigit" target="_">kthDigit</a></li>
        <li><a href="nat_pct" target="_">nat_pct</a></li>
        <li><a href="nearestBusStop" target="_">nearestBusStop</a></li>
        <li><a href="oneToN1" target="_">oneToN1</a></li>
        <li><a href="oneton" target="_">oneton</a></li>
    </ul>
</body>