<!DOCTYPE html>
<head>
</head>
<body>
"UI interaction" version:
    <ul>
        <li><a href="anyLowercase" target="_">anyLowercase</a></li>
        <li><a href="anyLowercase1" target="_">anyLowercase1</a></li>
        <li><a href="canDrinkAlcohol" target="_">canDrinkAlcohol</a></li>
        <li><a href="factorial" target="_">factorial</a></li>
        <li><a href="isEvenPositiveInt" target="_">isEvenPositiveInt</a></li>
        <li><a href="kthDigit" target="_">kthDigit</a></li>
        <li><a href="nearestBusStop" target="_">nearestBusStop</a></li>
        <li><a href="oneToN1" target="_">oneToN1</a></li>
    </ul>
"Conversational" version:
    <ul>
        <li><a href="anyLowercase1" target="_">anyLowercase1</a></li>
        <li><a href="factorial" target="_">factorial</a></li>
        <li><a href="isEvenPositiveInt" target="_">isEvenPositiveInt</a></li>
        <li><a href="kthDigit" target="_">kthDigit</a></li>
        <li><a href="nearestBusStop" target="_">nearestBusStop</a></li>
    </ul>

</body>